[submodule "lidar/SFND_Lidar_Obstacle_Detection"]
	path = lidar/SFND_Lidar_Obstacle_Detection
	url = git@github.com:carlosgalvezp/SFND_Lidar_Obstacle_Detection.git
[submodule "camera/SFND_2D_Feature_Tracking"]
	path = camera/SFND_2D_Feature_Tracking
	url = git@github.com:carlosgalvezp/SFND_2D_Feature_Tracking.git
[submodule "camera/SFND_3D_Object_Tracking"]
	path = camera/SFND_3D_Object_Tracking
	url = git@github.com:carlosgalvezp/SFND_3D_Object_Tracking.git
[submodule "radar/SFND_Radar_Target_Generation_and_Detection"]
	path = radar/SFND_Radar_Target_Generation_and_Detection
	url = git@github.com:carlosgalvezp/SFND_Radar_Target_Generation_and_Detection.git
